body {
    background-color: #086871;
    font-family: sans-serif;
    margin: 0;
}

h1 {
    color: #EB0D02;
    text-shadow: black 2px 2px 2px;
    width: 100%;
    text-align: center;
    font-size: 5rem;

}

.hobbies {
    display: flex;
    flex-direction: column;
}

.hobbies h2 {
    color: #EBA002;
    text-shadow: black 2px 2px 2px;
    background-color: #023539;
    padding: 2%;
    font-size: 3rem;
    margin: 0;
}

#csgo img {
    height: 80%;
    width: 50%;
    object-fit: cover;
    align-self: end;
}

#csgo {
    background-color: rgba(0, 0, 0, 0.279);
    display: flex;
    height: 40rem;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50;
    justify-content: space-around;

}

#csgo p {
    width: 30%;
    text-align: center;
    line-height: 3rem;
    padding-left: 4%;
    margin: auto;
    font-size: 1.5rem;
    color: white;
    font-weight: 100;
}

#csgo a {
    color: #EB0D02;
    text-decoration: none;
}

#csgo a:hover {
    color: #EBA002;
}

#csgo h2 {
    width: 100%;
}


#drone {
    background-color: rgba(255, 255, 255, 0.094);
    display: flex;
    height: 40rem;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50;
    justify-content: space-around;
}

#drone h2{
    width: 100%;
    text-align: right;

}

#drone img {
    height: 80%;
    width: 50%;
    object-fit: cover;
    align-self: end;
}

#drone p{
    width: 30%;
    text-align: center;
    line-height: 3rem;
    padding-left: 4%;
    margin: auto;
    font-size: 1.5rem;
    color: white;
    font-weight: 100;
}

.return a{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    text-align: center;
    padding: 3rem 0;
    align-self: center;
    background-color: #002326;
    color: white;
    margin-top: 5%;
    }
